{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Tentang PharStor
{% endblock %}


{% block content %}
<div style="margin-top:50px" class="contentText Static">
    <h1>Garansi?</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
    <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
{% endblock %}
